body{
    background-color: black;
    justify-content:space-around;
    display: inline-block;
}
.button-red{
    background-color: rgb(156, 6, 6);
    width: 100px;
    height: 100px;
    color: aliceblue;
}
.button-blue{
    background-color: rgb(2, 2, 126);
    width: 100px;
    height: 100px;
    color: aliceblue;
}
.button-green{
    background-color: rgb(2, 87, 2);
    width: 100px;
    height: 100px;
    color: aliceblue;
}
.button-black{
    background-color: rgb(44, 44, 44);
    width: 100px;
    height: 100px;
    color: aliceblue;
}